
.button {
    background-color:  #2c75eb;
    padding: 10px 20px 10px 20px;
    font-size: 50px;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    height: 5rem;
    width: 20rem;
    margin-bottom: 3.5rem;
    position: relative;
    float: right;
    right: 10px;
    /* added property */
}


.button:hover {
    background-color: #0745b0;
    color: #ffffff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    float: right;
    top: 350px;
    overflow: hidden;
    margin-bottom: 50px;
    margin-right: 50px;
    padding: 20px;
}

.dummy {
    height: 50px;
    margin: 10px;
    padding: 1px;
    width: 400px;
    position: relative;
    top: 450px;

}


